*{
    font-size: 20px;
    font-weight: bolder;
    
}

.menu{
    display: flex;
    flex-direction: row;
    top
}
.menu ul {
    color: #000000;
    display: inline-flex;
    list-style-type: none;
    padding-top: 30px;
}

.menu ul :hover{
    color: #0004ff70;
}

.menu li{
    width: 150px;

}

.menu li a:hover{
    color: red;
    padding: 15px;
    text-decoration:underline;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


 /* Links inside the dropdown */
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

 /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content{
    display: block;
}

/* Style The Dropdown Button */
.droptext {
    font-family: 'Times New Roman';
    background-color: white;
    border: none;
    cursor: pointer;
    padding: auto;
  }

  .anh1{
    color: red;
    position: absolute;
    top: 300px;
    right: 100px;
  
  }

  .anh2{
    color: red;
    position: absolute;

    top: 300px;
    right: 100px;
  
  }
    